# 数据库配置
DATABASE_URL="mysql://root:password@localhost:3306/express_template"

# JWT
JWT_SECRET="express-template"
SESSION_SECRET="express-session"


# 基础配置
PORT=3000
API_PREFIX="/api"
NODE_ENV="development"
# JWT_EXPIRES_IN=1d